In [1]:
import pandas as pd
import numpy as np
import tools
import itertools

In [2]:
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [3]:
df_aval1 = pd.read_csv("input_csv/avaliacao.csv", sep=";", decimal=",", parse_dates=['DT_CALCULO', 'DT_REAJUSTE_BENEFICIO'])

In [4]:
df_taxa_juros1 = pd.read_csv("input_csv/taxa_juros.csv", sep=";", decimal=",")

In [5]:
df_taxa_risco1 = pd.read_csv("input_csv/taxa_risco.csv", sep=";", decimal=",")

In [6]:
df_prem_plano1 = pd.read_csv("input_csv/premissa_planos.csv", sep=";", decimal=",")

In [7]:
df_prem_global1 = pd.read_csv("input_csv/premissa_global.csv", sep=";", decimal=",", parse_dates=['DT_ORIGEM_BNH', 'DT_LEI_9876_1999', 'DT_MEDIA_80_MAIORES_SALARIOS'])

In [8]:
df_indice1 = pd.read_csv("input_csv/cotacao.csv", sep=";", decimal=",", parse_dates=['COTDATA'])

In [9]:
df_indexador1 = pd.read_csv("input_csv/indexador_monetario.csv", sep=";", decimal=",")

In [10]:
df_reaj_salarial1 = pd.read_csv("input_csv/reajuste_salarial.csv", sep=";", decimal=",")

In [11]:
df_aval2 = df_aval1.drop(['DS_PLANO_BENEFICIO', 'FL_CALCULAR_DEMONS_RESULTADO', 'FL_FLUXO_RECEITA_DESPESA_FOLHA', 'FL_MEMORIA_CALCULO', 'CD_COMPOSICAO_FAMILIAR'], axis=1)

In [12]:
# renomear columas dataframe
nomes_colunas = {'ID_AVALIACAO': 'avaliacao', 'ID_CADASTRO': 'cadastro', 'IDPLANOPREV': 'plano_previdencia', 'ID_PLANO_BENEFICIO': 'plano_beneficio', 'DT_CALCULO': 'data_calculo',
                 'DT_REAJUSTE_BENEFICIO': 'data_reajuste_beneficio', 'VL_BENEFICIO_MINIMO': 'beneficio_minimo', 'PC_DESPESA_ADM_PARTICIPANTE': 'despesa_administrativa_partic',
                 'PC_DESPESA_ADM_PATROCINADORA': 'despesa_administrativa_patroc', 'PC_SAIDA_BPD': 'saida_bpd', 'PC_SAIDA_PORTABILIDADE': 'saida_portabilidade', 'PC_SAIDA_RESGATE': 'saida_resgate',
                 'VL_PECULIO_MINIMO_MORTE': 'peculio_minimo_morte', 'PC_PECULIO_MINIMO_MORTE': 'fator_peculio_morte_ativo', 'VL_PECULIO_MORTE_ASSISTIDO': 'fator_peculio_morte_assistido',
                 'NR_PAGTOS_BENEF_CONTRIB_ANO': 'numero_pagamentos_ano', 'PC_FAIXA_01_CONTRIBUICAO': 'faixa_1_contribuicao', 'PC_FAIXA_02_CONTRIBUICAO': 'faixa_2_contribuicao',
                 'PC_FAIXA_03_CONTRIBUICAO': 'faixa_3_contribuicao', 'PC_META_CUSTEIO_ADMIN': 'taxa_carregamento_admin', 'PC_TAXA_ADMIN_BENEFICIO': 'taxa_admin_beneficio',
                 'PC_TAXA_REAL_CRESC_SALARIAL': 'taxa_cresc_salarial', 'PC_TAXA_REAL_CRESC_BENEFICIO': 'taxa_cresc_beneficio', 'PC_FATOR_VLR_REAL_SALARIO': 'fator_capacidade_salario',
                 'PC_FATOR_VLR_REAL_BEN_FUNCEF': 'fator_capacidade_funcef', 'PC_FATOR_VLR_REAL_BEN_INSS': 'fator_capacidade_inss', 'PC_FATOR_REAJ_BENEF_LIQUIDO': 'fator_capacidade_beneficio',
                 'PC_OPCAO_BUA': 'opcao_bua', 'PC_SAQUE_BUA': 'saque_bua'}
df_aval2 = df_aval2.rename(columns = nomes_colunas)

In [13]:
df_aval2['despesa_administrativa_partic'] = df_aval2.despesa_administrativa_partic.map(tools.convertToPercent)
df_aval2['despesa_administrativa_patroc'] = df_aval2.despesa_administrativa_patroc.map(tools.convertToPercent)
df_aval2['saida_bpd'] = df_aval2.saida_bpd.map(tools.convertToPercent)
df_aval2['saida_portabilidade'] = df_aval2.saida_portabilidade.map(tools.convertToPercent)
df_aval2['saida_resgate'] = df_aval2.saida_resgate.map(tools.convertToPercent)
df_aval2['faixa_1_contribuicao'] = df_aval2.faixa_1_contribuicao.map(tools.convertToPercent)
df_aval2['faixa_2_contribuicao'] = df_aval2.faixa_2_contribuicao.map(tools.convertToPercent)
df_aval2['faixa_3_contribuicao'] = df_aval2.faixa_3_contribuicao.map(tools.convertToPercent)
df_aval2['taxa_carregamento_admin'] = df_aval2.taxa_carregamento_admin.map(tools.convertToPercent)
df_aval2['taxa_admin_beneficio'] = df_aval2.taxa_admin_beneficio.map(tools.convertToPercent)
df_aval2['taxa_cresc_salarial'] = df_aval2.taxa_cresc_salarial.map(tools.convertToPercent)
df_aval2['taxa_cresc_beneficio'] = df_aval2.taxa_cresc_beneficio.map(tools.convertToPercent)
df_aval2['fator_capacidade_salario'] = df_aval2.fator_capacidade_salario.map(tools.convertToPercent)
df_aval2['fator_capacidade_funcef'] = df_aval2.fator_capacidade_funcef.map(tools.convertToPercent)
df_aval2['fator_capacidade_inss'] = df_aval2.fator_capacidade_inss.map(tools.convertToPercent)
df_aval2['fator_capacidade_beneficio'] = df_aval2.fator_capacidade_beneficio.map(tools.convertToIndice)
df_aval2['opcao_bua'] = df_aval2.opcao_bua.map(tools.convertToPercent)
df_aval2['saque_bua'] = df_aval2.saque_bua.map(tools.convertToPercent)

In [14]:
# df_aval2

In [15]:
nomes_colunas = {'NR_TEMPO_TAXA_JUROS': 't', 'VL_TAXA_JUROS': 'taxa_juros'}
df_taxa_juros2 = df_taxa_juros1.rename(columns= nomes_colunas)
df_taxa_juros2['taxa_juros'] = df_taxa_juros2.taxa_juros.map(tools.convertToPercent)

In [16]:
nomes_colunas = {'NR_TEMPO_TAXA_RISCO': 't', 'ID_RESPONSABILIDADE': 'responsabilidade', 'VL_TAXA_RISCO': 'taxa_risco'}
df_taxa_risco2 = df_taxa_risco1.rename(columns= nomes_colunas)
df_taxa_risco2['taxa_risco'] = df_taxa_risco2.taxa_risco.map(tools.convertToPercent)

In [17]:
nomes_colunas = {'ID_PLANO_BENEFICIO': 'plano_beneficio', 'IDADE_INICIO_CONTRIB_INSS_MAS': 'idade_inicio_contrib_inss_mas', 'IDADE_INICIO_CONTRIB_INSS_FEM': 'idade_inicio_contrib_inss_fem',
                 'IDADE_APOSENT_FUNDACAO_MAS': 'idade_aposent_fundacao_mas', 'IDADE_APOSENT_FUNDACAO_FEM': 'idade_aposent_fundacao_fem', 'TEMPO_CONTRIB_INSS_MAS': 'tempo_contrib_inss_mas',
                 'TEMPO_CONTRIB_INSS_FEM': 'tempo_contrib_inss_fem', 'MAIORIDADE_PLANO': 'maioridade_plano', 'PERCENTUAL_SRB': 'percentual_srb', 'TEMPO_CARENCIA_APOSENTADORIA': 'carencia_aposentadoria'}
df_prem_plano2 = df_prem_plano1.rename(columns= nomes_colunas).drop(['ID_PREMISSA_PLANO'], axis=1)[df_prem_plano1.ID_PLANO_BENEFICIO == int(df_aval2.plano_beneficio)]
df_prem_plano2['percentual_srb'] = df_prem_plano2.percentual_srb.map(tools.convertToPercent)

In [18]:
nomes_colunas = {'DT_ORIGEM_BNH': 'data_bnh', 'DT_LEI_9876_1999': 'data_lei_9876', 'DT_MEDIA_80_MAIORES_SALARIOS': 'data_media_maiores_salarios', 'TETO_CONTRIBUICAO_INSS': 'teto_contribuicao_inss',
                 'TETO_BENEFICIO_INSS': 'teto_beneficio_inss', 'SALARIO_MINIMO': 'salario_minimo', 'COTA_FAMILIAR_PENSAO': 'cota_pensao_familiar',
                 'PROB_APOSENTADO_CASADO_MAS': 'prob_aposentado_casado_mas', 'PROB_APOSENTADO_CASADO_FEM': 'prob_aposentado_casado_fem', 'DIF_IDADE_CONJUGE_MAS': 'dif_idade_conjuge_mas',
                 'DIF_IDADE_CONJUGE_FEM': 'dif_idade_conjuge_fem', 'LX_INICIAL': 'lx_inicial'}
df_prem_global2 = df_prem_global1.rename(columns= nomes_colunas).drop(['ID_PREMISSA_GLOBAL'], axis=1)
df_prem_global2.cota_pensao_familiar = df_prem_global2.cota_pensao_familiar.map(tools.convertToPercent)
df_prem_global2.prob_aposentado_casado_mas = df_prem_global2.prob_aposentado_casado_mas.map(tools.convertToPercent)
df_prem_global2.prob_aposentado_casado_fem = df_prem_global2.prob_aposentado_casado_fem.map(tools.convertToPercent)
df_prem_global2['avaliacao'] = df_aval2.avaliacao

In [19]:
nomes_colunas = {'COTDATA': 'data_indice', 'COTVALOR': 'indice'}
df_indice2 = df_indice1.rename(columns= nomes_colunas)
df_indice2.indice = df_indice2.indice.map(tools.convertToIndice)

In [20]:
nomes_colunas = {'ID_REFERENCIA_IDX_MON': 'id_indexador', 'PC_REAJUSTE': 'pc_indexador'}
df_indexador2 = df_indexador1.rename(columns=nomes_colunas).drop(['DS_REFERENCIA_IDX_MON'], axis=1)

In [21]:
nomes_colunas = {'CD_TIPO_REAJUSTE_SALARIAL': 'id_reajuste', 'ID_PATROCINADORA': 'patrocinadora', 'PC_REAJUSTE': 'pc_reajuste'}
df_reaj_salarial2 = df_reaj_salarial1.rename(columns= nomes_colunas).drop(['DS_TIPO_REAJUSTE_SALARIAL'], axis= 1)
df_reaj_salarial2.pc_reajuste = df_reaj_salarial2.pc_reajuste.map(tools.convertToPercent)

In [22]:
df_avaliacao = pd.merge(df_aval2, df_prem_plano2, how='inner', on='plano_beneficio')

In [23]:
df_avaliacao = pd.merge(df_avaliacao, df_prem_global2, how='inner', on='avaliacao')

In [24]:
df_avaliacao.dtypes

avaliacao                                 int64
cadastro                                  int64
plano_previdencia                         int64
plano_beneficio                           int64
data_calculo                     datetime64[ns]
data_reajuste_beneficio          datetime64[ns]
beneficio_minimo                        float64
despesa_administrativa_partic           float64
despesa_administrativa_patroc           float64
saida_bpd                               float64
saida_portabilidade                     float64
saida_resgate                           float64
peculio_minimo_morte                    float64
fator_peculio_morte_ativo               float64
fator_peculio_morte_assistido           float64
numero_pagamentos_ano                     int64
faixa_1_contribuicao                    float64
faixa_2_contribuicao                    float64
faixa_3_contribuicao                    float64
taxa_carregamento_admin                 float64
taxa_admin_beneficio                    float64
taxa_cresc_salarial                     float64
taxa_cresc_beneficio                    float64
fator_capacidade_salario                float64
fator_capacidade_funcef                 float64
fator_capacidade_inss                   float64
fator_capacidade_beneficio              float64
opcao_bua                               float64
saque_bua                               float64
idade_inicio_contrib_inss_mas             int64
idade_inicio_contrib_inss_fem             int64
idade_aposent_fundacao_mas                int64
idade_aposent_fundacao_fem                int64
tempo_contrib_inss_mas                    int64
tempo_contrib_inss_fem                    int64
maioridade_plano                          int64
percentual_srb                          float64
carencia_aposentadoria                    int64
data_bnh                         datetime64[ns]
data_lei_9876                    datetime64[ns]
data_media_maiores_salarios      datetime64[ns]
teto_contribuicao_inss                  float64
teto_beneficio_inss                     float64
salario_minimo                          float64
cota_pensao_familiar                    float64
prob_aposentado_casado_mas              float64
prob_aposentado_casado_fem              float64
dif_idade_conjuge_mas                     int64
dif_idade_conjuge_fem                     int64
lx_inicial                                int64
dtype: object

In [25]:
df_avaliacao

,avaliacao,cadastro,plano_previdencia,plano_beneficio,data_calculo,data_reajuste_beneficio,beneficio_minimo,despesa_administrativa_partic,despesa_administrativa_patroc,saida_bpd,saida_portabilidade,saida_resgate,peculio_minimo_morte,fator_peculio_morte_ativo,fator_peculio_morte_assistido,numero_pagamentos_ano,faixa_1_contribuicao,faixa_2_contribuicao,faixa_3_contribuicao,taxa_carregamento_admin,taxa_admin_beneficio,taxa_cresc_salarial,taxa_cresc_beneficio,fator_capacidade_salario,fator_capacidade_funcef,fator_capacidade_inss,fator_capacidade_beneficio,opcao_bua,saque_bua,idade_inicio_contrib_inss_mas,idade_inicio_contrib_inss_fem,idade_aposent_fundacao_mas,idade_aposent_fundacao_fem,tempo_contrib_inss_mas,tempo_contrib_inss_fem,maioridade_plano,percentual_srb,carencia_aposentadoria,data_bnh,data_lei_9876,data_media_maiores_salarios,teto_contribuicao_inss,teto_beneficio_inss,salario_minimo,cota_pensao_familiar,prob_aposentado_casado_mas,prob_aposentado_casado_fem,dif_idade_conjuge_mas,dif_idade_conjuge_fem,lx_inicial
0,25445,10809,74,5,2016-12-31,2016-01-01,0.0,0.0398,0.0398,0.0,0.5,0.5,0.0,2.5,11.62,13,0.0,0.0,0.0,0.0398,0.009,0.0239,0.0,0.98,0.98,0.98,2.2177,0.0,0.0,18,18,53,48,35,30,24,0.2,10,1998-09-23,1999-11-29,1999-07-31,5189.82,5078.94,880.0,0.8,0.85,0.6,5,2,10000000

In [26]:
# participantes
nomes_colunas = {'ID_PARTICIPANTE': 'id_participante', 'NR_MATRICULA': 'matricula', 'DT_NASCIMENTO': 'data_nascimento_partic', 'IR_SEXO': 'sexo_partic', 'ID_PATROCINADORA': 'patrocinadora',
                 'CD_ESTADO_CIVIL': 'estado_civil', 'DT_ADMISSAO': 'data_admissao', 'DT_ASSOCIACAO_FUNDACAO': 'data_associacao', 'PC_BENEFICIO_ESPECIAL': 'pbe', 'FL_DEFICIENTE': 'deficiente',
                 'NR_MATRICULA_TITULAR': 'matricula_titular', 'FL_MIGRADO': 'migrado'}
df_partic1 = pd.read_csv("input_csv/participante.csv", sep=";", decimal=",", encoding="latin1", parse_dates=['DT_NASCIMENTO', 'DT_OPCAO_BPD', 'DT_ADMISSAO', 'DT_ASSOCIACAO_FUNDACAO'], dtype= {'NR_MATRICULA': str, 'matricula_titular': str}, low_memory = False).rename(columns= nomes_colunas).drop(['CD_SITUACAO_PATROC', 'DS_ESTADO_CIVIL', 'DT_OPCAO_BPD'], axis= 1)
#df_partic2 = df_partic1.rename(columns= nomes_colunas).drop(['CD_SITUACAO_PATROC', 'DS_ESTADO_CIVIL', 'DT_OPCAO_BPD'], axis= 1)
df_partic1.deficiente = list(map(tools.convertToBoolean, df_partic1.deficiente))
df_partic1.migrado = df_partic1.migrado.map(tools.convertToBoolean)
df_partic1.pbe = df_partic1.pbe.map(tools.convertToPercent)

In [27]:
nomes_colunas = {'ID_PARTICIPANTE': 'id_participante', 'DT_ADESAO': 'data_adesao', 'VL_SLD_SUBCONTA_PARTICIPANTE': 'saldo_conta_partic', 'VL_SLD_SUBCONTA_PATROCINADORA': 'saldo_conta_patroc',
                 'VL_RESERVA_BPD': 'reserva_bpd', 'VL_SALDO_PORTADO': 'saldo_portado', 'VL_BEN_SALDADO_INICIAL': 'beneficio_saldado', 'VL_SALARIO_PARTICIPACAO': 'salario_participacao',
                 'PC_CONTRIBUICAO_PARTICIPANTE': 'contribuicao_partic', 'PC_CONTRIBUICAO_PATROCINADORA': 'contribuicao_patroc'}
df_plano1 = pd.read_csv("input_csv/plano_beneficio.csv", sep=";", decimal=",", parse_dates=['DT_ADESAO']).rename(columns= nomes_colunas)
df_plano1.contribuicao_partic = df_plano1.contribuicao_partic.map(tools.convertToPercent)
df_plano1.contribuicao_patroc = df_plano1.contribuicao_patroc.map(tools.convertToPercent)

In [28]:
nomes_colunas = {'ID_PARTICIPANTE': 'id_participante', 'DT_INICIO_BENEFICIO': 'dib_inss', 'VL_VALOR': 'valor_beneficio_inss'}
df_benef_inss1 = pd.read_csv("input_csv/beneficio_inss.csv", sep=";", decimal=",", parse_dates=['DT_INICIO_BENEFICIO']).rename(columns = nomes_colunas)
#df_benef_inss1 = df_benef_inss1.rename(columns= nomes_colunas)

In [29]:
nomes_colunas = {'ID_PARTICIPANTE': 'id_participante', 'IDBENEFICIO': 'beneficio', 'VL_VALOR': 'valor_beneficio_funcef', 'DT_INICIO_BENEFICIO': 'dib_funcef'}
df_benef_func1 = pd.read_csv("input_csv/beneficio_funcef.csv", sep=";", decimal=",", encoding="latin1", parse_dates=['DT_INICIO_BENEFICIO']).rename(columns= nomes_colunas).drop(['NOME'], axis= 1)
df_benef_func1['tipo_beneficio'] = df_benef_func1.beneficio.map(tools.convertToTipoBeneficio)
df_benef_func2 = df_benef_func1[df_benef_func1.tipo_beneficio != 0].drop(['beneficio'], axis = 1)

In [30]:
nomes_colunas = {'ID_PARTICIPANTE': 'id_participante', 'CD_GRAU_DEPENDENCIA': 'parentesco', 'DT_NASCIMENTO': 'data_nascimento', 'IR_SEXO': 'sexo', 'FL_INVALIDO': 'invalido'}
df_depend1 = pd.read_csv("input_csv/dependente.csv", sep=";", decimal=",", encoding="latin1", parse_dates=['DT_NASCIMENTO']).rename(columns= nomes_colunas).drop(['FL_DESIGNADO_RESGATE', 'FL_DEPENDENTE_LEGAL'], axis=1)
df_depend1.invalido = df_depend1.invalido.map(tools.convertToBoolean)

In [31]:
df_depend_valido = df_depend1[(df_depend1.parentesco == 'COM') & (df_depend1.invalido == False)].rename(columns = {'sexo': 'sexo_depend_valido', 'data_nascimento': 'data_nascimento_depend_valido'}).drop(['parentesco', 'invalido'], axis = 1)

In [32]:
df_depend_temporario = df_depend1[(df_depend1.parentesco == 'FIL') & (df_depend1.invalido == False)].rename(columns = {'sexo': 'sexo_depend_temporario', 'data_nascimento': 'data_nascimento_depend_temporario'}).drop(['parentesco', 'invalido'], axis = 1)

In [33]:
df_depend_invalido = df_depend1[df_depend1.invalido == True].rename(columns = {'sexo': 'sexo_depend_invalido', 'data_nascimento': 'data_nascimento_depend_invalido'}).drop(['parentesco', 'invalido'], axis = 1)

In [37]:
df_participantes = pd.merge(df_partic1, df_plano1, how='inner', on='id_participante')

In [39]:
df_participantes = pd.merge(df_participantes, df_benef_inss1, how='left', on='id_participante')

In [41]:
df_participantes = pd.merge(df_participantes, df_benef_func2, how='left', on='id_participante')

In [43]:
df_participantes = pd.merge(df_participantes, df_depend_valido, how='left', on='id_participante')

In [45]:
df_participantes = pd.merge(df_participantes, df_depend_temporario, how='left', on='id_participante')

In [47]:
df_participantes = pd.merge(df_participantes, df_depend_invalido, how='left', on='id_participante')

In [65]:
#df_participantes.valor_beneficio_inss.map(lambda x: if pd.isnull(x)) = [0.00 for x in df_participantes.valor_beneficio_inss if pd.isnull(x)]

ValueError: Length of values does not match length of index

In [63]:
[0.00 for x in df_participantes.valor_beneficio_inss if np.isnan(x)]

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 ...]

In [48]:
df_participantes.head(10)

,id_participante,matricula,data_nascimento_partic,sexo_partic,patrocinadora,estado_civil,data_admissao,data_associacao,pbe,deficiente,matricula_titular,migrado,data_adesao,saldo_conta_partic,saldo_conta_patroc,reserva_bpd,saldo_portado,beneficio_saldado,salario_participacao,CD_SITUACAO_FUNDACAO,contribuicao_partic,contribuicao_patroc,dib_inss,valor_beneficio_inss,valor_beneficio_funcef,dib_funcef,tipo_beneficio,data_nascimento_depend_valido,sexo_depend_valido,data_nascimento_depend_temporario,sexo_depend_temporario,data_nascimento_depend_invalido,sexo_depend_invalido
0,10036696,0000017,1958-04-09,M,91008,C,1983-02-21,1983-02-21,0.0,False,NaN,False,2006-01-09,131686.86,129553.83,0.0,0.0,1925.46,13574.57,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1960-09-15,F,1994-08-19,M,NaT,NaN
1,10036697,0000030,1961-04-02,F,91008,C,1983-10-02,1983-10-02,0.0,False,NaN,False,2006-01-09,144031.70,138926.83,0.0,0.0,4109.00,21851.89,1,0.0536,0.0536,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
2,10036698,0000129,1959-12-17,M,91008,C,1983-02-16,1983-02-16,0.0,False,NaN,False,2006-01-09,124043.99,121493.24,0.0,0.0,3519.18,13432.95,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1962-12-19,F,1993-05-04,M,NaT,NaN
3,10036699,0000135,1958-02-09,M,91008,C,1983-02-16,1983-02-16,0.0,False,NaN,False,2006-01-09,152490.91,149994.91,0.0,0.0,2915.02,13448.68,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1962-06-10,F,1997-03-07,M,NaT,NaN
4,10036700,0000170,1959-04-11,M,91008,D,1983-02-16,1983-02-16,0.0,False,NaN,False,2006-01-09,145427.77,142346.31,0.0,0.0,2742.64,15057.81,1,0.0500,0.0500,NaT,NaN,NaN,NaT,NaN,1981-11-04,F,2007-05-21,M,NaT,NaN
5,10036701,0000218,1960-05-31,F,91008,C,1983-11-21,1983-11-21,0.0,False,NaN,False,2006-01-09,8.69,17.83,0.0,0.0,2347.82,0.00,9,0.0000,0.0000,NaT,NaN,NaN,NaT,NaN,1958-05-23,M,NaT,NaN,NaT,NaN
6,10036702,0000224,1959-07-21,M,91008,C,1983-02-16,1983-02-16,0.0,False,NaN,False,2006-01-09,94886.31,92936.85,0.0,0.0,1992.63,11368.36,1,0.0500,0.0500,NaT,NaN,NaN,NaT,NaN,1960-11-25,F,NaT,NaN,NaT,NaN
7,10036703,0000260,1958-01-24,M,91008,S,1983-02-28,1983-02-28,0.0,False,NaN,False,2006-01-09,110972.46,97495.97,0.0,0.0,1046.31,8839.07,1,0.1500,0.1500,NaT,NaN,NaN,NaT,NaN,1960-01-17,F,NaT,NaN,NaT,NaN
8,10036704,0000276,1960-09-24,F,91008,C,1983-02-22,1983-02-22,0.0,False,NaN,False,2006-01-09,87242.85,85538.80,0.0,0.0,1204.26,10251.60,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1960-04-22,M,NaT,NaN,NaT,NaN
9,10036705,0000299,1960-09-20,M,91008,C,1983-02-22,1983-02-22,0.0,False,NaN,False,2006-01-09,210339.66,207047.08,0.0,0.0,2588.19,18422.00,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1964-11-10,F,NaT,NaN,NaT,NaN

In [56]:
df_participantes[pd.isnull(df_participantes['valor_beneficio_funcef'])].valor_beneficio_funcef = 0.00

,id_participante,matricula,data_nascimento_partic,sexo_partic,patrocinadora,estado_civil,data_admissao,data_associacao,pbe,deficiente,matricula_titular,migrado,data_adesao,saldo_conta_partic,saldo_conta_patroc,reserva_bpd,saldo_portado,beneficio_saldado,salario_participacao,CD_SITUACAO_FUNDACAO,contribuicao_partic,contribuicao_patroc,dib_inss,valor_beneficio_inss,valor_beneficio_funcef,dib_funcef,tipo_beneficio,data_nascimento_depend_valido,sexo_depend_valido,data_nascimento_depend_temporario,sexo_depend_temporario,data_nascimento_depend_invalido,sexo_depend_invalido
0,10036696,0000017,1958-04-09,M,91008,C,1983-02-21,1983-02-21,0.0,False,NaN,False,2006-01-09,131686.86,129553.83,0.0,0.0,1925.46,13574.57,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1960-09-15,F,1994-08-19,M,NaT,NaN
1,10036697,0000030,1961-04-02,F,91008,C,1983-10-02,1983-10-02,0.0,False,NaN,False,2006-01-09,144031.70,138926.83,0.0,0.0,4109.00,21851.89,1,0.0536,0.0536,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
2,10036698,0000129,1959-12-17,M,91008,C,1983-02-16,1983-02-16,0.0,False,NaN,False,2006-01-09,124043.99,121493.24,0.0,0.0,3519.18,13432.95,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1962-12-19,F,1993-05-04,M,NaT,NaN
3,10036699,0000135,1958-02-09,M,91008,C,1983-02-16,1983-02-16,0.0,False,NaN,False,2006-01-09,152490.91,149994.91,0.0,0.0,2915.02,13448.68,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1962-06-10,F,1997-03-07,M,NaT,NaN
4,10036700,0000170,1959-04-11,M,91008,D,1983-02-16,1983-02-16,0.0,False,NaN,False,2006-01-09,145427.77,142346.31,0.0,0.0,2742.64,15057.81,1,0.0500,0.0500,NaT,NaN,NaN,NaT,NaN,1981-11-04,F,2007-05-21,M,NaT,NaN
5,10036701,0000218,1960-05-31,F,91008,C,1983-11-21,1983-11-21,0.0,False,NaN,False,2006-01-09,8.69,17.83,0.0,0.0,2347.82,0.00,9,0.0000,0.0000,NaT,NaN,NaN,NaT,NaN,1958-05-23,M,NaT,NaN,NaT,NaN
6,10036702,0000224,1959-07-21,M,91008,C,1983-02-16,1983-02-16,0.0,False,NaN,False,2006-01-09,94886.31,92936.85,0.0,0.0,1992.63,11368.36,1,0.0500,0.0500,NaT,NaN,NaN,NaT,NaN,1960-11-25,F,NaT,NaN,NaT,NaN
7,10036703,0000260,1958-01-24,M,91008,S,1983-02-28,1983-02-28,0.0,False,NaN,False,2006-01-09,110972.46,97495.97,0.0,0.0,1046.31,8839.07,1,0.1500,0.1500,NaT,NaN,NaN,NaT,NaN,1960-01-17,F,NaT,NaN,NaT,NaN
8,10036704,0000276,1960-09-24,F,91008,C,1983-02-22,1983-02-22,0.0,False,NaN,False,2006-01-09,87242.85,85538.80,0.0,0.0,1204.26,10251.60,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1960-04-22,M,NaT,NaN,NaT,NaN
9,10036705,0000299,1960-09-20,M,91008,C,1983-02-22,1983-02-22,0.0,False,NaN,False,2006-01-09,210339.66,207047.08,0.0,0.0,2588.19,18422.00,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1964-11-10,F,NaT,NaN,NaT,NaN
10,10036706,0000307,1959-05-24,M,91008,C,1983-02-28,1983-02-28,0.0,False,NaN,False,2006-01-09,20.43,42.51,0.0,0.0,3878.50,0.00,9,0.0000,0.0000,NaT,NaN,NaN,NaT,NaN,1958-07-30,F,NaT,NaN,NaT,NaN
11,10036707,0000342,1960-07-14,F,91008,C,1983-02-23,1983-02-23,0.0,False,NaN,False,2006-01-09,45671.35,44068.61,0.0,0.0,1631.74,8015.56,1,0.0500,0.0500,NaT,NaN,NaN,NaT,NaN,1954-03-10,M,NaT,NaN,NaT,NaN
12,10036708,0000448,1957-10-10,M,91008,C,1983-02-21,1983-02-21,0.0,False,NaN,False,2008-01-18,118506.18,116690.17,0.0,0.0,1920.69,10936.57,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1960-02-15,F,NaT,NaN,NaT,NaN
13,10036709,0000477,1960-01-04,M,91008,C,1983-07-02,1983-07-02,0.0,False,NaN,False,2006-01-09,128368.78,126079.62,0.0,0.0,2782.92,13536.07,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1963-05-18,F,1995-01-02,M,NaT,NaN
14,10036710,0000483,1959-06-24,M,91008,C,1983-07-02,1983-07-02,0.0,False,NaN,False,2006-01-09,120427.88,117764.60,0.0,0.0,2901.93,13476.95,1,0.0793,0.0793,NaT,NaN,NaN,NaT,NaN,1963-12-28,F,1996-05-13,M,NaT,NaN
15,10036711,0000490,1960-09-25,M,91008,C,1983-08-02,1983-08-02,0.0,False,NaN,False,2008-04-11,109483.41,107695.83,0.0,0.0,0.00,11155.39,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1968-04-14,F,1996-07-22,M,NaT,NaN
16,10036712,0000520,1958-07-26,M,91008,C,1983-07-02,1983-07-02,0.0,False,NaN,False,2006-01-09,122518.27,120589.57,0.0,0.0,1862.34,11411.03,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1968-07-03,F,NaT,NaN,NaT,NaN
17,10036713,0000537,1960-03-18,M,91008,C,1983-07-02,1983-07-02,0.0,False,NaN,False,2006-01-09,115336.69,113464.49,0.0,0.0,1448.87,10493.32,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1966-09-09,F,2000-10-20,M,NaT,NaN
18,10036714,0000543,1958-08-29,M,91008,C,1983-07-02,1983-07-02,0.0,False,NaN,False,2006-01-09,223713.03,220531.60,0.0,0.0,4445.09,16221.95,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1955-01-12,F,NaT,NaN,NaT,NaN
19,10036715,0000610,1961-07-09,M,91008,C,1983-02-21,1983-02-21,0.0,False,NaN,False,2006-01-09,64283.92,62406.72,0.0,0.0,1895.11,9755.27,1,0.1000,0.1000,NaT,NaN,NaN,NaT,NaN,1963-09-26,F,1998-05-15,M,NaT,NaN
20,10036716,0000655,1961-07-23,M,91008,C,1983-02-21,1983-02-21,0.0,False,NaN,False,2006-01-09,47394.64,45662.97,0.0,0.0,1114.35,8839.07,1,0.0500,0.0500,NaT,NaN,NaN,NaT,NaN,1964-04-30,F,NaT,NaN,NaT,NaN
21,10036717,0000721,1961-02-27,M,91008,C,1983-02-21,1983-02-21,0.0,False,NaN,False,2006-01-09,115708.81,113329.82,0.0,0.0,1771.07,10936.57,1,0.1000,0.1000,NaT,NaN,NaN,NaT,NaN,1964-06-29,F,NaT,NaN,NaT,NaN
22,10036718,0000738,1961-09-25,M,91008,C,1983-02-21,1983-02-21,0.0,False,NaN,False,2006-01-09,190658.02,187691.29,0.0,0.0,3341.28,13706.95,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1968-03-25,F,1998-07-15,M,NaT,NaN
23,10036719,0000744,1960-05-25,M,91008,C,1983-02-21,1983-02-21,0.0,False,NaN,False,2006-01-09,189536.83,186849.41,0.0,0.0,2715.60,13736.22,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1970-04-04,F,2002-08-23,M,NaT,NaN
24,10036720,0000767,1961-01-05,F,91008,D,1983-02-21,1983-02-21,0.0,False,NaN,False,2006-01-09,481.32,465.64,0.0,0.0,2560.25,0.00,9,0.0000,0.0000,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
25,10036721,0000796,1962-12-10,M,91008,C,1983-02-21,1983-02-21,0.0,False,NaN,False,2006-01-09,131422.43,129322.50,0.0,0.0,1656.34,11722.83,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1971-02-20,F,1996-08-10,M,NaT,NaN
26,10036722,0000827,1961-02-04,M,91008,D,1983-02-21,1983-02-21,0.0,False,NaN,False,2006-01-09,82833.51,80655.49,0.0,0.0,1884.93,12062.57,1,0.0500,0.0500,NaT,NaN,NaN,NaT,NaN,1973-09-03,F,1996-02-02,M,NaT,NaN
27,10036723,0000945,1959-10-12,F,91008,S,1983-02-21,1983-02-21,0.0,False,NaN,False,2006-01-09,138828.67,136551.61,0.0,0.0,3204.03,12580.84,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
28,10036724,0000951,1956-12-24,M,91008,C,1983-02-24,1983-02-24,0.0,False,NaN,False,2006-01-09,26.23,39.69,0.0,0.0,4260.45,0.00,9,0.0000,0.0000,NaT,NaN,NaN,NaT,NaN,1968-10-15,F,2001-09-10,M,NaT,NaN
29,10036725,0001028,1962-06-27,F,91008,C,1983-07-03,1983-07-03,0.0,False,NaN,False,2006-01-09,192074.10,179198.74,0.0,0.0,3092.73,18294.95,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1963-02-03,M,NaT,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86694,10123390,8885200,1963-11-01,M,91008,C,1982-06-12,1982-06-12,0.0,False,NaN,False,2006-01-09,145727.81,142762.65,0.0,0.0,3020.88,14369.24,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,NaT,NaN,2001-04-13,M,NaT,NaN
86695,10123391,8886428,1955-02-13,M,91008,S,1979-05-30,1979-05-30,0.0,False,NaN,False,2006-01-09,141118.65,138870.44,0.0,0.0,2838.55,11894.03,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1976-02-10,F,2003-09-07,M,NaT,NaN
86696,10123392,8888663,1958-01-13,M,91008,J,1981-03-08,1981-03-08,0.0,False,NaN,False,2013-01-07,48972.07,48104.37,0.0,0.0,0.00,10061.04,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1937-02-03,F,NaT,NaN,NaT,NaN
86697,10123393,8888692,1958-06-14,M,91008,C,1982-06-08,1982-06-08,0.0,False,NaN,False,2006-01-09,153381.41,150888.29,0.0,0.0,3227.34,14329.57,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1963-02-25,F,1995-07-12,M,NaT,NaN
86698,10123394,8888730,1960-08-31,M,91008,C,1981-03-11,1981-03-11,0.0,False,NaN,False,2006-01-09,159100.79,156782.81,0.0,0.0,1950.96,12483.91,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1969-12-21,F,NaT,NaN,NaT,NaN
86699,10123395,8888812,1958-01-07,M,91008,S,1982-08-26,1982-08-26,0.0,False,NaN,False,2006-01-09,124399.17,122161.15,0.0,0.0,2314.89,13406.98,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1956-02-22,F,1996-11-07,M,NaT,NaN
86700,10123396,8888901,1961-04-30,M,91008,C,1982-12-04,1982-12-04,0.0,False,NaN,False,2006-01-09,183371.15,181150.35,0.0,0.0,3956.00,15340.36,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1960-10-26,F,NaT,NaN,NaT,NaN
86701,10123397,8888953,1960-11-16,M,91008,C,1982-12-15,1982-12-15,0.0,False,NaN,False,2006-01-09,247633.65,243896.53,0.0,0.0,3623.93,21132.43,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1962-11-27,F,1996-11-20,M,NaT,NaN
86702,10123398,8890708,1962-01-13,M,91008,C,1982-11-16,1982-11-16,0.0,False,NaN,False,2006-01-09,181519.18,178955.04,0.0,0.0,3466.24,13850.09,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1967-12-17,F,2000-11-24,M,NaT,NaN
86703,10123399,8891607,1958-01-08,M,91008,S,1981-09-21,1981-09-21,0.0,False,NaN,False,2006-01-09,89437.68,87754.38,0.0,0.0,1492.50,10669.98,1,0.1000,0.1000,NaT,NaN,NaN,NaT,NaN,NaT,NaN,2010-04-27,M,NaT,NaN
86704,10123400,8893227,1959-08-29,M,91008,C,1981-03-08,1981-03-08,0.0,False,NaN,False,2006-01-09,128029.66,125742.73,0.0,0.0,2544.92,12483.91,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1971-01-10,F,1992-12-10,M,NaT,NaN
86705,10123401,8893233,1962-11-07,M,91008,S,1982-09-20,1982-09-20,0.0,False,NaN,False,2006-01-09,146313.42,142484.42,0.0,0.0,3378.21,20390.43,1,0.1000,0.1000,NaT,NaN,NaN,NaT,NaN,1965-03-11,F,1997-06-11,M,NaT,NaN
86706,10123402,8893701,1960-05-10,M,91008,C,1981-12-08,1981-12-08,0.0,False,NaN,False,2006-01-09,161609.40,102026.08,0.0,0.0,1387.72,10080.85,1,0.1500,0.1500,NaT,NaN,NaN,NaT,NaN,1955-09-23,F,NaT,NaN,NaT,NaN
86707,10123403,8894758,1961-11-21,M,91008,S,1981-11-30,1981-11-30,0.0,False,NaN,False,2006-01-09,100377.18,98081.26,0.0,0.0,2394.35,12522.59,1,0.1000,0.1000,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
86708,10123404,8894770,1962-03-05,M,91008,C,1982-09-08,1982-09-08,0.0,False,NaN,False,2006-01-09,191962.70,188946.83,0.0,0.0,4063.79,15677.06,1,0.1050,0.1050,NaT,NaN,NaN,NaT,NaN,1960-12-12,F,1994-11-21,M,NaT,NaN
86709,10123405,8894876,1959-10-17,M,91008,C,1982-12-07,1982-12-07,0.0,False,NaN,False,2006-01-09,240513.19,236899.93,0.0,0.0,3237.56,19102.43,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1963-06-05,F,NaT,NaN,NaT,NaN
86710,10123406,8894971,1959-01-11,M,91008,C,1982-09-13,1982-09-13,0.0,False,NaN,False,2006-01-09,69957.69,67903.28,0.0,0.0,1817.78,10595.52,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1958-03-04,F,1994-10-18,M,NaT,NaN
86711,10123407,8896757,1961-08-07,F,91008,C,1981-07-12,1981-07-12,0.0,False,NaN,False,2006-01-09,189615.30,186489.94,0.0,0.0,3839.10,15585.79,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1958-01-04,M,1997-05-10,M,NaT,NaN
86712,10123408,8897679,1960-05-11,F,91008,J,1981-07-29,1981-07-29,0.0,False,NaN,False,2006-01-09,143301.09,137983.85,0.0,0.0,2347.26,12237.45,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
86713,10123409,8898271,1962-07-01,F,91008,C,1983-01-17,1983-01-17,0.0,False,NaN,False,2006-01-09,101462.21,99248.73,0.0,0.0,2680.98,12415.88,1,0.1000,0.1000,NaT,NaN,NaN,NaT,NaN,1966-03-24,M,1994-03-10,M,NaT,NaN
86714,10123410,8900677,1953-06-25,M,91008,C,1978-04-12,1978-04-12,0.0,False,NaN,False,2006-01-09,28.01,42.95,0.0,0.0,3124.13,0.00,9,0.0000,0.0000,NaT,NaN,NaN,NaT,NaN,1957-01-18,F,NaT,NaN,NaT,NaN
86715,10123411,8900690,1959-04-10,F,91008,C,1981-07-24,1981-07-24,0.0,False,NaN,False,2006-01-09,133185.06,131154.53,0.0,0.0,3276.61,12036.50,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1956-01-23,M,NaT,NaN,NaT,NaN
86716,10123412,8902564,1961-09-02,F,91008,C,1982-10-25,1982-10-25,0.0,False,NaN,False,2006-01-09,134462.26,131878.28,0.0,0.0,1730.99,10622.95,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1957-09-07,M,1995-11-07,M,NaT,NaN
86717,10123413,8903121,1959-11-29,M,91008,C,1982-08-23,1982-08-23,0.0,False,NaN,False,2006-01-09,139525.89,137928.48,0.0,0.0,1982.24,10315.56,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1961-02-19,F,1994-07-19,M,NaT,NaN
86718,10123414,8903859,1958-04-28,F,91008,C,1982-09-13,1982-09-13,0.0,False,NaN,False,2006-01-09,11.84,17.12,0.0,0.0,2460.34,0.00,9,0.0000,0.0000,NaT,NaN,NaN,NaT,NaN,NaT,NaN,1999-02-23,M,NaT,NaN
86719,10123415,8904050,1961-09-19,F,91008,J,1982-08-23,1982-08-23,0.0,False,NaN,False,2006-01-09,88866.46,87129.46,0.0,0.0,1409.39,11372.84,1,0.0700,0.0700,NaT,NaN,NaN,NaT,NaN,NaT,NaN,2002-02-01,M,NaT,NaN
86720,10123416,8905835,1961-08-01,F,91008,C,1982-08-30,1982-08-30,0.0,False,NaN,False,2006-01-09,92283.69,90258.59,0.0,0.0,2161.57,10712.43,1,0.1150,0.1150,NaT,NaN,NaN,NaT,NaN,1961-06-11,M,1998-01-15,M,NaT,NaN
86721,10123417,8907640,1961-09-27,F,91008,C,1981-08-07,1981-08-07,0.0,False,NaN,False,2006-01-09,22.57,37.82,0.0,0.0,3227.02,0.00,9,0.0000,0.0000,NaT,NaN,NaN,NaT,NaN,1959-01-24,M,1997-12-26,M,NaT,NaN
86722,10123418,8908420,1954-11-02,F,91008,S,1975-07-21,1977-01-08,0.0,False,NaN,False,2006-01-09,184946.22,181939.36,0.0,0.0,4949.06,14911.95,1,0.1200,0.1200,NaT,NaN,NaN,NaT,NaN,1961-02-11,M,NaT,NaN,NaT,NaN
86723,10123419,8909069,1952-08-10,F,91008,C,1978-10-30,1978-10-30,0.0,False,NaN,False,2006-01-09,303.82,319.27,0.0,0.0,4250.11,0.00,9,0.0000,0.0000,NaT,NaN,NaN,NaT,NaN,1951-08-10,M,NaT,NaN,NaT,NaN

In [ ]:
df_participantes.head(15)

In [ ]:
df_participantes.tail(15)

In [ ]:
#if len(df_depend_valido) > 0:
    #df_participantes['idade_depend_valido'] = list(map(tools.calculateAge, df_depend_valido.data_nascimento, itertools.repeat(df_avaliacao.data_calculo, len(df_depend_valido))))
    #df_depend_valido.head(10)
#else:
    #del(df_depend_valido)
    
#df_depend_valido = df_depend_valido.drop(['data_nascimento'], axis = 1)

In [ ]:
#if len(df_depend_invalido) > 0:
    #df_participantes['idade_invalido'] = list(map(tools.calculateAge, df_depend_invalido.data_nascimento_valido, itertools.repeat(df_avaliacao.data_calculo, len(df_depend_invalido))))
    #df_depend_invalido.head(10)
#else:
#    del(df_depend_invalido)

#df_depend_invalido = df_depend_invalido.drop(['data_nascimento'], axis = 1)

In [ ]:
#if len(df_depend_temporario) > 0:
    #df_depend_temporario['idade_temporario'] = list(map(tools.calculateAge, df_depend_temporario.data_nascimento, itertools.repeat(df_avaliacao.data_calculo, len(df_depend_temporario))))
    #df_depend_temporario.head(10)
#else:
#    del(df_depend_temporario)

#df_depend_temporario = df_depend_temporario.drop(['data_nascimento'], axis = 1)