In [ ]:
#import cx_Oracle as ora

In [ ]:
#conOra = ora.connect('webplanus/webplanus99@HOM.FUNCEF.COM.BR/hom')

In [1]:
import pyodbc as od
import pandas as pd

In [2]:
oraCon = od.connect("DSN=HOM;Uid=webplanus;Pwd=webplanus99")

In [3]:
# oraCur = oraCon.cursor()

In [4]:
oraQuery = "SELECT t1.ID_AVALIACAO, \
                c1.ID_PLANO_BENEFICIO, \
                t2.IDPLANOPREV, \
                t1.ID_CADASTRO, \
                t1.DT_CALCULO, \
                t1.NR_IDADE_INI_CONT_INSS_MAS, \
                t1.NR_IDADE_INI_CONT_INSS_FEM, \
                t1.NR_IDADE_INI_APOS_MAS, \
                t1.NR_IDADE_INI_APOS_FEM, \
                t1.NR_TEMPO_CONT_INSS_MAS, \
                t1.NR_TEMPO_CONT_INSS_FEM, \
                t1.NR_MAIORIDADE_PLANO, \
                t1.DT_REAJUSTE_BENEFICIO, \
                t1.VL_BENEFICIO_MINIMO, \
                t1.PC_DESPESA_ADM_PARTICIPANTE, \
                t1.PC_DESPESA_ADM_PATROCINADORA, \
                t1.PC_SAIDA_BPD, \
                t1.PC_SAIDA_PORTABILIDADE, \
                t1.PC_SAIDA_RESGATE, \
                t1.VL_PECULIO_MINIMO_MORTE, \
                t1.PC_PECULIO_MINIMO_MORTE, \
                t1.VL_PECULIO_MORTE_ASSISTIDO, \
                t1.NR_PAGTOS_BENEF_CONTRIB_ANO, \
                t1.PC_FAIXA_01_CONTRIBUICAO, \
                t1.PC_FAIXA_02_CONTRIBUICAO, \
                t1.PC_FAIXA_03_CONTRIBUICAO, \
                t1.PC_CONTRIBUICAO_PATROCINADORA, \
                t1.PC_META_CUSTEIO_ADMIN, \
                t1.PC_TAXA_ADMIN_BENEFICIO, \
                t1.VL_INICIAL_LX, \
                t1.PC_TAXA_REAL_CRESC_SALARIAL, \
                t1.PC_TAXA_REAL_CRESC_BENEFICIO, \
                t1.PC_COTA_FAMILIAR_PENSAO, \
                t1.PC_PROB_PARTIC_CAS_APOS_MAS, \
                t1.PC_PROB_PARTIC_CAS_APOS_FEM, \
                t1.NR_DIFERENCIA_IDADE_CONJ_MAS, \
                t1.NR_DIFERENCIA_IDADE_CONJ_FEM, \
                t1.PC_FATOR_VLR_REAL_SALARIO, \
                t1.PC_FATOR_VLR_REAL_BEN_FUNCEF, \
                t1.PC_FATOR_VLR_REAL_BEN_INSS, \
                t1.VL_TETO_INSS_CONTRIBUICAO, \
                t1.VL_TETO_INSS_BENEFICIO, \
                t1.VL_SALARIO_MINIMO, \
                t1.PC_FATOR_REAJ_BENEF_LIQUIDO, \
                t1.NR_MULT_SAL_PARTIC_BENEF_RISCO, \
                t1.PC_OPCAO_BUA, \
                t1.PC_SAQUE_BUA \
          FROM TB_ATU_AVALIACAO t1, TB_ATU_CADASTRO c1, TB_ATU_PLANO_BENEFICIO t2 \
          WHERE t1.ID_CADASTRO = c1.ID_CADASTRO \
            AND c1.ID_PLANO_BENEFICIO = t2.ID_PLANO_BENEFICIO \
            AND t1.ID_AVALIACAO = " + str(25445)

In [5]:
#oraCur.execute(oraQuery)

In [6]:
df_aval = pd.read_sql(oraQuery, oraCon)

In [7]:
df_aval.dtypes

ID_AVALIACAO                             float64
ID_PLANO_BENEFICIO                       float64
IDPLANOPREV                              float64
ID_CADASTRO                              float64
DT_CALCULO                        datetime64[ns]
NR_IDADE_INI_CONT_INSS_MAS               float64
NR_IDADE_INI_CONT_INSS_FEM               float64
NR_IDADE_INI_APOS_MAS                    float64
NR_IDADE_INI_APOS_FEM                    float64
NR_TEMPO_CONT_INSS_MAS                   float64
NR_TEMPO_CONT_INSS_FEM                   float64
NR_MAIORIDADE_PLANO                      float64
DT_REAJUSTE_BENEFICIO             datetime64[ns]
VL_BENEFICIO_MINIMO                      float64
PC_DESPESA_ADM_PARTICIPANTE              float64
PC_DESPESA_ADM_PATROCINADORA             float64
PC_SAIDA_BPD                             float64
PC_SAIDA_PORTABILIDADE                   float64
PC_SAIDA_RESGATE                         float64
VL_PECULIO_MINIMO_MORTE                  float64
PC_PECULIO_MINIMO_MORTE                  float64
VL_PECULIO_MORTE_ASSISTIDO               float64
NR_PAGTOS_BENEF_CONTRIB_ANO              float64
PC_FAIXA_01_CONTRIBUICAO                 float64
PC_FAIXA_02_CONTRIBUICAO                 float64
PC_FAIXA_03_CONTRIBUICAO                 float64
PC_CONTRIBUICAO_PATROCINADORA            float64
PC_META_CUSTEIO_ADMIN                    float64
PC_TAXA_ADMIN_BENEFICIO                  float64
VL_INICIAL_LX                            float64
PC_TAXA_REAL_CRESC_SALARIAL              float64
PC_TAXA_REAL_CRESC_BENEFICIO             float64
PC_COTA_FAMILIAR_PENSAO                  float64
PC_PROB_PARTIC_CAS_APOS_MAS              float64
PC_PROB_PARTIC_CAS_APOS_FEM              float64
NR_DIFERENCIA_IDADE_CONJ_MAS             float64
NR_DIFERENCIA_IDADE_CONJ_FEM             float64
PC_FATOR_VLR_REAL_SALARIO                float64
PC_FATOR_VLR_REAL_BEN_FUNCEF             float64
PC_FATOR_VLR_REAL_BEN_INSS               float64
VL_TETO_INSS_CONTRIBUICAO                float64
VL_TETO_INSS_BENEFICIO                   float64
VL_SALARIO_MINIMO                        float64
PC_FATOR_REAJ_BENEF_LIQUIDO              float64
NR_MULT_SAL_PARTIC_BENEF_RISCO           float64
PC_OPCAO_BUA                             float64
PC_SAQUE_BUA                             float64
dtype: object

In [8]:
df_aval

,ID_AVALIACAO,ID_PLANO_BENEFICIO,IDPLANOPREV,ID_CADASTRO,DT_CALCULO,NR_IDADE_INI_CONT_INSS_MAS,NR_IDADE_INI_CONT_INSS_FEM,NR_IDADE_INI_APOS_MAS,NR_IDADE_INI_APOS_FEM,NR_TEMPO_CONT_INSS_MAS,...,PC_FATOR_VLR_REAL_SALARIO,PC_FATOR_VLR_REAL_BEN_FUNCEF,PC_FATOR_VLR_REAL_BEN_INSS,VL_TETO_INSS_CONTRIBUICAO,VL_TETO_INSS_BENEFICIO,VL_SALARIO_MINIMO,PC_FATOR_REAJ_BENEF_LIQUIDO,NR_MULT_SAL_PARTIC_BENEF_RISCO,PC_OPCAO_BUA,PC_SAQUE_BUA
0,25445.0,5.0,74.0,10809.0,2016-12-31,18.0,18.0,53.0,48.0,35.0,...,98.0,98.0,98.0,5189.82,5078.94,880.0,121.77,20.0,0.0,0.0

In [9]:
oraQuery = "SELECT t1.CD_TIPO_REAJUSTE_SALARIAL, t1.ID_PATROCINADORA, t1.PC_REAJUSTE, t2.DS_TIPO_REAJUSTE_SALARIAL \
              FROM TB_ATU_AVAL_PLANO_REAJ_SAL t1 \
              JOIN TB_ATU_TIPO_REAJUSTE_SALARIAL t2 ON (t1.CD_TIPO_REAJUSTE_SALARIAL = t2.CD_TIPO_REAJUSTE_SALARIAL) \
             WHERE t1.ID_AVALIACAO = " + str(int(df_aval['ID_AVALIACAO'])) + " ORDER BY t1.ID_AVAL_PLANO_REAJ_SAL"

In [10]:
df_reaj_sal = pd.read_sql(oraQuery, oraCon)

In [11]:
df_reaj_sal.dtypes

CD_TIPO_REAJUSTE_SALARIAL    float64
ID_PATROCINADORA             float64
PC_REAJUSTE                  float64
DS_TIPO_REAJUSTE_SALARIAL     object
dtype: object

In [12]:
df_reaj_sal

,CD_TIPO_REAJUSTE_SALARIAL,ID_PATROCINADORA,PC_REAJUSTE,DS_TIPO_REAJUSTE_SALARIAL
0,1.0,1.0,0.000000,Fator de Atualizac?o do Salario de Participac?o
1,2.0,1.0,0.000000,Fator de Atualizac?o do Beneficio
2,1.0,91008.0,0.460760,Fator de Atualizac?o do Salario de Participac?o
3,2.0,91008.0,6.579964,Fator de Atualizac?o do Beneficio

In [13]:
oraQuery = "SELECT t1.ID_REFERENCIA_IDX_MON, t1.PC_REAJUSTE, t2.DS_REFERENCIA_IDX_MON \
              FROM TB_ATU_AVAL_PLANO_IDX_MON t1 \
              JOIN tb_atu_referencia_idx_mon t2 ON (t1.ID_REFERENCIA_IDX_MON = t2.ID_REFERENCIA_IDX_MON) \
             WHERE t1.ID_AVALIACAO = " + str(int(df_aval['ID_AVALIACAO'])) + " ORDER BY t1.ID_REFERENCIA_IDX_MON"

In [14]:
df_ind_monet = pd.read_sql(oraQuery, oraCon)

In [15]:
df_ind_monet.dtypes

ID_REFERENCIA_IDX_MON    float64
PC_REAJUSTE              float64
DS_REFERENCIA_IDX_MON     object
dtype: object

In [16]:
df_ind_monet

   ID_REFERENCIA_IDX_MON  PC_REAJUSTE   DS_REFERENCIA_IDX_MON
0                    1.0     3.044187        Beneficio Minimo
1                    2.0     1.064310         INSS Beneficios
2                    3.0     1.065800  Teto INSS Contribuic?o
3                    4.0     1.000000     Teto INSS Beneficio
4                    5.0     1.064310          Salario Minimo
5                    6.0     1.000000       Peculio por Morte

In [17]:
oraQuery = "select t1.nr_tempo_taxa_juros, t1.vl_taxa_juros \
              from tb_atu_avaliacao_taxa_juros t1 \
             where t1.id_avaliacao = " + str(int(df_aval['ID_AVALIACAO'])) + " order by t1.nr_tempo_taxa_juros"

In [18]:
df_juros = pd.read_sql(oraQuery, oraCon)

In [19]:
df_juros.dtypes

NR_TEMPO_TAXA_JUROS    float64
VL_TAXA_JUROS          float64
dtype: object

In [20]:
df_juros

    NR_TEMPO_TAXA_JUROS  VL_TAXA_JUROS
0                   0.0           5.51
1                   1.0           5.39
2                   2.0           5.27
3                   3.0           5.15
4                   4.0           5.03
5                   5.0           4.91
6                   6.0           4.80
7                   7.0           4.68
8                   8.0           4.56
9                   9.0           4.44
10                 10.0           4.32
11                 11.0           4.20

In [21]:
oraQuery = "select t1.nr_tempo_taxa_risco, t1.id_responsabilidade, t1.vl_taxa_risco \
              from tb_atu_avaliacao_taxa_risco t1 \
             where t1.id_avaliacao = " + str(int(df_aval['ID_AVALIACAO'])) + " order by t1.id_responsabilidade, t1.nr_tempo_taxa_risco"

In [22]:
df_risco = pd.read_sql(oraQuery, oraCon)

In [23]:
df_risco.dtypes

NR_TEMPO_TAXA_RISCO    float64
ID_RESPONSABILIDADE    float64
VL_TAXA_RISCO          float64
dtype: object

In [24]:
df_risco

   NR_TEMPO_TAXA_RISCO  ID_RESPONSABILIDADE  VL_TAXA_RISCO
0                  0.0                  1.0           0.00
1                  0.0                  2.0           0.49

In [25]:
oraQuery = "SELECT t1.DT_ORIGEM_BNH, t1.DT_INICIO_LEI_9876_1999, t1.DT_INICIO_MEDIA_80PC_MAIORES_S \
              FROM TB_ATU_PARAMETRIZACAO t1 \
             WHERE t1.DT_VIGENCIA_FIM IS NULL \
             ORDER BY t1.ID_PARAMETRIZACAO DESC"

In [26]:
df_param = pd.read_sql(oraQuery, oraCon)

In [27]:
df_param.dtypes

DT_ORIGEM_BNH                     datetime64[ns]
DT_INICIO_LEI_9876_1999           datetime64[ns]
DT_INICIO_MEDIA_80PC_MAIORES_S    datetime64[ns]
dtype: object

In [28]:
df_param

  DT_ORIGEM_BNH DT_INICIO_LEI_9876_1999 DT_INICIO_MEDIA_80PC_MAIORES_S
0    1998-09-23              1999-11-29                     1994-07-31

In [29]:
oraQuery = "SELECT t1.COTDATA, t1.COTVALOR \
              FROM COTACAOMOEDA t1 \
             WHERE t1.MOECODIGO = 7 \
             ORDER BY t1.COTDATA"

In [30]:
df_cotacao = pd.read_sql(oraQuery, oraCon)

In [31]:
df_cotacao.dtypes

COTDATA     datetime64[ns]
COTVALOR           float64
dtype: object

In [32]:
df_cotacao.head(8)

     COTDATA  COTVALOR
0 1979-04-01      3.45
1 1979-05-01      1.76
2 1979-06-01      3.00
3 1979-07-01      5.36
4 1979-08-01      5.79
5 1979-09-01      6.61
6 1979-10-01      5.06
7 1979-11-01      6.10

In [33]:
oraQuery = "SELECT t1.ID_PARTICIPANTE, \
                   t1.id_cadastro, \
                   t1.NR_MATRICULA, \
                   t1.DT_NASCIMENTO, \
                   t1.IR_SEXO, \
                   t1.ID_PATROCINADORA, \
                   t1.CD_SITUACAO_PATROC, \
                   t1.CD_ESTADO_CIVIL, \
                   t2.DS_ESTADO_CIVIL, \
                   t1.DT_OPCAO_BPD, \
                   t1.DT_ADMISSAO, \
                   t1.DT_ASSOCIACAO_FUNDACAO, \
                   t1.PC_BENEFICIO_ESPECIAL, \
                   t1.FL_DEFICIENTE, \
                   t1.NR_MATRICULA_TITULAR, \
                   t1.fl_migrado \
              FROM TB_ATU_PARTICIPANTE t1 \
             INNER JOIN TB_ATU_ESTADO_CIVIL t2 on (t1.CD_ESTADO_CIVIL = t2.CD_ESTADO_CIVIL) \
             WHERE t1.ID_CADASTRO = " + str(int(df_aval['ID_CADASTRO'])) + " ORDER BY t1.ID_PARTICIPANTE"

In [34]:
df_partic = pd.read_sql(oraQuery, oraCon)

In [35]:
df_partic.dtypes

ID_PARTICIPANTE                  float64
ID_CADASTRO                      float64
NR_MATRICULA                      object
DT_NASCIMENTO             datetime64[ns]
IR_SEXO                           object
ID_PATROCINADORA                 float64
CD_SITUACAO_PATROC               float64
CD_ESTADO_CIVIL                   object
DS_ESTADO_CIVIL                   object
DT_OPCAO_BPD                      object
DT_ADMISSAO               datetime64[ns]
DT_ASSOCIACAO_FUNDACAO    datetime64[ns]
PC_BENEFICIO_ESPECIAL            float64
FL_DEFICIENTE                     object
NR_MATRICULA_TITULAR              object
FL_MIGRADO                       float64
dtype: object

In [36]:
df_partic.head(8)

,ID_PARTICIPANTE,ID_CADASTRO,NR_MATRICULA,DT_NASCIMENTO,IR_SEXO,ID_PATROCINADORA,CD_SITUACAO_PATROC,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,DT_OPCAO_BPD,DT_ADMISSAO,DT_ASSOCIACAO_FUNDACAO,PC_BENEFICIO_ESPECIAL,FL_DEFICIENTE,NR_MATRICULA_TITULAR,FL_MIGRADO
0,10036696.0,10809.0,0000017,1958-09-04,M,91008.0,8.0,C,CASADO(A),None,1983-02-21,1983-02-21,0.0,N,None,0.0
1,10036697.0,10809.0,0000030,1961-02-04,F,91008.0,8.0,C,CASADO(A),None,1983-02-10,1983-02-10,0.0,N,None,0.0
2,10036698.0,10809.0,0000129,1959-12-17,M,91008.0,8.0,C,CASADO(A),None,1983-02-16,1983-02-16,0.0,N,None,0.0
3,10036699.0,10809.0,0000135,1958-09-02,M,91008.0,8.0,C,CASADO(A),None,1983-02-16,1983-02-16,0.0,N,None,0.0
4,10036700.0,10809.0,0000170,1959-11-04,M,91008.0,8.0,D,DIVORCIADO(A),None,1983-02-16,1983-02-16,0.0,N,None,0.0
5,10036701.0,10809.0,0000218,1960-05-31,F,91008.0,34.0,C,CASADO(A),None,1983-11-21,1983-11-21,0.0,N,None,0.0
6,10036702.0,10809.0,0000224,1959-07-21,M,91008.0,8.0,C,CASADO(A),None,1983-02-16,1983-02-16,0.0,N,None,0.0
7,10036703.0,10809.0,0000260,1958-01-24,M,91008.0,8.0,S,SOLTEIRO(A),None,1983-02-28,1983-02-28,0.0,N,None,0.0

In [37]:
oraQuery = "SELECT  t1.ID_PARTICIPANTE, \
                    t1.DT_ADESAO, \
                    t1.VL_SLD_SUBCONTA_PARTICIPANTE, \
                    t1.VL_SLD_SUBCONTA_PATROCINADORA, \
                    t1.VL_RESERVA_BPD, \
                    t1.VL_SALDO_PORTADO, \
                    t1.VL_BEN_SALDADO_INICIAL, \
                    t1.VL_SALARIO_PARTICIPACAO, \
                    t1.CD_SITUACAO_FUNDACAO, \
                    t1.PC_CONTRIBUICAO_PARTICIPANTE, \
                    t1.PC_CONTRIBUICAO_PATROCINADORA \
               FROM TB_ATU_PARTIC_PLANO t1 \
              INNER JOIN TB_ATU_PARTICIPANTE t2 ON (t1.ID_PARTICIPANTE = t2.ID_PARTICIPANTE AND t2.ID_CADASTRO = " + str(int(df_aval['ID_CADASTRO'])) + ") \
              WHERE t1.IDPLANOPREV = " + str(int(df_aval['IDPLANOPREV'])) + " ORDER BY t1.ID_PARTICIPANTE"

In [38]:
df_plano = pd.read_sql(oraQuery, oraCon)

In [39]:
df_plano.dtypes

ID_PARTICIPANTE                         float64
DT_ADESAO                        datetime64[ns]
VL_SLD_SUBCONTA_PARTICIPANTE            float64
VL_SLD_SUBCONTA_PATROCINADORA           float64
VL_RESERVA_BPD                          float64
VL_SALDO_PORTADO                        float64
VL_BEN_SALDADO_INICIAL                  float64
VL_SALARIO_PARTICIPACAO                 float64
CD_SITUACAO_FUNDACAO                    float64
PC_CONTRIBUICAO_PARTICIPANTE            float64
PC_CONTRIBUICAO_PATROCINADORA           float64
dtype: object

In [40]:
df_plano.head(8)

,ID_PARTICIPANTE,DT_ADESAO,VL_SLD_SUBCONTA_PARTICIPANTE,VL_SLD_SUBCONTA_PATROCINADORA,VL_RESERVA_BPD,VL_SALDO_PORTADO,VL_BEN_SALDADO_INICIAL,VL_SALARIO_PARTICIPACAO,CD_SITUACAO_FUNDACAO,PC_CONTRIBUICAO_PARTICIPANTE,PC_CONTRIBUICAO_PATROCINADORA
0,10036696.0,2006-09-01,131686.86,129553.83,0.0,0.0,1925.46,13574.57,1.0,12.00,12.00
1,10036697.0,2006-09-01,144031.70,138926.83,0.0,0.0,4109.00,21851.89,1.0,5.36,5.36
2,10036698.0,2006-09-01,124043.99,121493.24,0.0,0.0,3519.18,13432.95,1.0,12.00,12.00
3,10036699.0,2006-09-01,152490.91,149994.91,0.0,0.0,2915.02,13448.68,1.0,12.00,12.00
4,10036700.0,2006-09-01,145427.77,142346.31,0.0,0.0,2742.64,15057.81,1.0,5.00,5.00
5,10036701.0,2006-09-01,8.69,17.83,0.0,0.0,2347.82,0.00,9.0,0.00,0.00
6,10036702.0,2006-09-01,94886.31,92936.85,0.0,0.0,1992.63,11368.36,1.0,5.00,5.00
7,10036703.0,2006-09-01,110972.46,97495.97,0.0,0.0,1046.31,8839.07,1.0,15.00,15.00

In [41]:
oraQuery = "SELECT t1.ID_PARTICIPANTE, t1.DT_INICIO_BENEFICIO, t1.VL_VALOR \
              FROM TB_ATU_PARTIC_BEN_RGPS t1 \
             INNER JOIN TB_ATU_PARTICIPANTE t2 ON (t1.ID_PARTICIPANTE = t2.ID_PARTICIPANTE AND t2.ID_CADASTRO = " + str(int(df_aval['ID_CADASTRO'])) + ")\
             ORDER BY t1.ID_PARTICIPANTE"

In [42]:
df_ben_inss = pd.read_sql(oraQuery, oraCon)

In [43]:
df_ben_inss.dtypes

ID_PARTICIPANTE               float64
DT_INICIO_BENEFICIO    datetime64[ns]
VL_VALOR                      float64
dtype: object

In [44]:
df_ben_inss.head(8)

   ID_PARTICIPANTE DT_INICIO_BENEFICIO  VL_VALOR
0       10123420.0          2010-11-01   3182.15
1       10123421.0          2013-02-21   2875.15
2       10123422.0          2011-04-24   2903.90
3       10123423.0          2012-01-03   4190.99
4       10123424.0          2009-03-01   2755.83
5       10123425.0          2010-01-19   2581.31
6       10123426.0          2016-06-30   3602.10
7       10123427.0          2015-06-30   4738.04

In [45]:
oraQuery = "SELECT t1.ID_PARTICIPANTE, t1.IDBENEFICIO, b1.nome, t1.VL_VALOR, t1.DT_INICIO_BENEFICIO \
              FROM TB_ATU_PARTIC_BEN_FUNCEF t1 \
             INNER JOIN TB_ATU_PARTICIPANTE t2 ON (t1.ID_PARTICIPANTE = t2.ID_PARTICIPANTE AND t2.ID_CADASTRO = " + str(int(df_aval['ID_CADASTRO'])) + ")\
             inner join beneficio b1 on (t1.idbeneficio = b1.idbeneficio) \
             WHERE t1.IDPLANOPREV = " + str(int(df_aval['IDPLANOPREV'])) + " ORDER BY t1.ID_PARTICIPANTE"

In [46]:
df_ben_func = pd.read_sql(oraQuery, oraCon)

In [47]:
df_ben_func.dtypes

ID_PARTICIPANTE               float64
IDBENEFICIO                   float64
NOME                           object
VL_VALOR                      float64
DT_INICIO_BENEFICIO    datetime64[ns]
dtype: object

In [48]:
df_ben_func.head(8)

,ID_PARTICIPANTE,IDBENEFICIO,NOME,VL_VALOR,DT_INICIO_BENEFICIO
0,10123420.0,487.0,NP - Beneficio Pleno,707.70,2013-03-01
1,10123421.0,487.0,NP - Beneficio Pleno,834.72,2016-04-25
2,10123422.0,487.0,NP - Beneficio Pleno,440.59,2012-07-28
3,10123423.0,487.0,NP - Beneficio Pleno,146.30,2012-01-03
4,10123424.0,487.0,NP - Beneficio Pleno,394.41,2010-04-27
5,10123425.0,487.0,NP - Beneficio Pleno,554.30,2013-02-01
6,10123426.0,487.0,NP - Beneficio Pleno,1150.17,2016-07-30
7,10123427.0,487.0,NP - Beneficio Pleno,813.99,2016-04-30

In [49]:
oraQuery = "SELECT t1.ID_PARTICIPANTE, t1.DT_INICIO_BENEFICIO, t1.VL_VALOR \
              FROM TB_ATU_PARTIC_RUB_JUDICIAL t1 \
             INNER JOIN TB_ATU_PARTICIPANTE t2 ON (t1.ID_PARTICIPANTE = t2.ID_PARTICIPANTE AND t2.ID_CADASTRO = " + str(int(df_aval['ID_CADASTRO'])) + ") \
             INNER JOIN TB_ATU_PARTIC_PLANO t3 ON (t1.ID_PARTICIPANTE = t3.ID_PARTICIPANTE AND t1.IDPLANOPREV = t3.IDPLANOPREV) \
             ORDER BY t1.ID_PARTICIPANTE"

In [50]:
df_rubr = pd.read_sql(oraQuery, oraCon)

In [51]:
df_rubr.dtypes

ID_PARTICIPANTE        object
DT_INICIO_BENEFICIO    object
VL_VALOR               object
dtype: object

In [52]:
df_rubr.head(8)

Empty DataFrame
Columns: [ID_PARTICIPANTE, DT_INICIO_BENEFICIO, VL_VALOR]
Index: []

In [53]:
oraQuery = "SELECT t1.ID_PARTICIPANTE, \
                   t1.CD_GRAU_DEPENDENCIA, \
                   t1.DT_NASCIMENTO, \
                   t1.IR_SEXO, \
                   t1.FL_INVALIDO, \
                   t1.FL_DESIGNADO_RESGATE, \
                   t1.FL_DEPENDENTE_LEGAL \
              FROM TB_ATU_PARTIC_DEPENDENTE t1 \
             INNER JOIN TB_ATU_PARTICIPANTE t2 ON (t1.ID_PARTICIPANTE = t2.ID_PARTICIPANTE AND t2.ID_CADASTRO = " + str(int(df_aval['ID_CADASTRO'])) + ")\
             ORDER BY t1.ID_PARTICIPANTE"

In [54]:
df_depen = pd.read_sql(oraQuery, oraCon)

In [55]:
df_depen.dtypes

ID_PARTICIPANTE                float64
CD_GRAU_DEPENDENCIA             object
DT_NASCIMENTO           datetime64[ns]
IR_SEXO                         object
FL_INVALIDO                     object
FL_DESIGNADO_RESGATE           float64
FL_DEPENDENTE_LEGAL            float64
dtype: object

In [56]:
df_depen.head(8)

,ID_PARTICIPANTE,CD_GRAU_DEPENDENCIA,DT_NASCIMENTO,IR_SEXO,FL_INVALIDO,FL_DESIGNADO_RESGATE,FL_DEPENDENTE_LEGAL
0,10036696.0,FIL,1994-08-19,M,N,0.0,0.0
1,10036696.0,COM,1960-09-15,F,N,0.0,0.0
2,10036698.0,COM,1962-12-19,F,N,0.0,0.0
3,10036698.0,FIL,1993-04-05,M,N,0.0,0.0
4,10036699.0,COM,1962-10-06,F,N,0.0,0.0
5,10036699.0,FIL,1997-07-03,M,N,0.0,0.0
6,10036700.0,FIL,2007-05-21,M,N,0.0,0.0
7,10036700.0,COM,1981-04-11,F,N,0.0,0.0

In [57]:
# fecha conexao com o banco de dados
oraCon.close()