In [1]:
import pandas as pd

# macro variaveis calculo

In [2]:
max_idade = 125

# AVALIACAO

In [3]:
date_columns = ['DT_CALCULO', 'DT_REAJUSTE_BENEFICIO']

In [4]:
avaliacao = pd.read_csv("input_csv/30318/avaliacao.csv", sep=";", decimal=",", parse_dates=date_columns)

In [5]:
avaliacao.dtypes

ID_AVALIACAO                               int64
DT_CALCULO                        datetime64[ns]
FL_CALCULAR_DEMONS_RESULTADO               int64
FL_FLUXO_RECEITA_DESPESA_FOLHA             int64
FL_MEMORIA_CALCULO                         int64
NR_IDADE_INI_CONT_INSS_MAS                 int64
NR_IDADE_INI_CONT_INSS_FEM                 int64
NR_IDADE_INI_APOS_MAS                      int64
NR_IDADE_INI_APOS_FEM                      int64
NR_TEMPO_CONT_INSS_MAS                     int64
NR_TEMPO_CONT_INSS_FEM                     int64
NR_MAIORIDADE_PLANO                        int64
DT_REAJUSTE_BENEFICIO             datetime64[ns]
VL_BENEFICIO_MINIMO                      float64
PC_DESPESA_ADM_PARTICIPANTE              float64
PC_BENEF_RISCO_PARTICIPANTE                int64
PC_DESPESA_ADM_PATROCINADORA             float64
PC_BENEF_RISCO_PATROCINADORA             float64
PC_SAIDA_BPD                               int64
PC_SAIDA_PORTABILIDADE                     int64
PC_SAIDA_RESGATE                           int64
VL_PECULIO_MINIMO_MORTE                  float64
PC_PECULIO_MINIMO_MORTE                  float64
NR_PAGTOS_BENEF_CONTRIB_ANO                int64
PC_FAIXA_01_CONTRIBUICAO                   int64
PC_FAIXA_02_CONTRIBUICAO                   int64
PC_FAIXA_03_CONTRIBUICAO                   int64
PC_CONTRIBUICAO_PATROCINADORA            float64
PC_META_CUSTEIO_ADMIN                    float64
PC_TAXA_ADMIN_BENEFICIO                  float64
VL_INICIAL_LX                              int64
PC_TAXA_REAL_JUROS_ANUAL                 float64
PC_TAXA_REAL_CRESC_SALARIAL              float64
PC_TAXA_REAL_CRESC_BENEFICIO               int64
PC_COTA_FAMILIAR_PENSAO                  float64
PC_PROB_PARTIC_CAS_APOS_MAS              float64
PC_PROB_PARTIC_CAS_APOS_FEM              float64
NR_DIFERENCIA_IDADE_CONJ_MAS               int64
NR_DIFERENCIA_IDADE_CONJ_FEM               int64
PC_FATOR_VLR_REAL_SALARIO                float64
PC_FATOR_VLR_REAL_BEN_FUNCEF             float64
PC_FATOR_VLR_REAL_BEN_INSS               float64
VL_TETO_INSS_CONTRIBUICAO                float64
VL_TETO_INSS_BENEFICIO                   float64
VL_SALARIO_CAIXA                         float64
VL_SALARIO_MINIMO                        float64
PC_FATOR_REAJ_BENEF_LIQUIDO                int64
CD_COMPOSICAO_FAMILIAR                     int64
ID_PLANO_BENEFICIO                         int64
IDPLANOPREV                                int64
ID_CADASTRO                                int64
PC_OPCAO_BUA                             float64
PC_SAQUE_BUA                             float64
VL_PECULIO_MORTE_ASSISTIDO               float64
NR_MULT_SAL_PARTIC_BENEF_RISCO           float64
dtype: object

In [6]:
avaliacao

,ID_AVALIACAO,DT_CALCULO,FL_CALCULAR_DEMONS_RESULTADO,FL_FLUXO_RECEITA_DESPESA_FOLHA,FL_MEMORIA_CALCULO,NR_IDADE_INI_CONT_INSS_MAS,NR_IDADE_INI_CONT_INSS_FEM,NR_IDADE_INI_APOS_MAS,NR_IDADE_INI_APOS_FEM,NR_TEMPO_CONT_INSS_MAS,...,VL_SALARIO_MINIMO,PC_FATOR_REAJ_BENEF_LIQUIDO,CD_COMPOSICAO_FAMILIAR,ID_PLANO_BENEFICIO,IDPLANOPREV,ID_CADASTRO,PC_OPCAO_BUA,PC_SAQUE_BUA,VL_PECULIO_MORTE_ASSISTIDO,NR_MULT_SAL_PARTIC_BENEF_RISCO
0,30318,2017-06-30,1,1,0,18,18,53,48,35,...,937.0,1,1,5,74,11753,0.0,0.0,11.62,0.2

# PARAMETROS GLOBAIS

In [7]:
date_columns = ['DT_ORIGEM_BNH', 'DT_INICIO_LEI_9876_1999', 'DT_INICIO_MEDIA_80PC_MAIORES_S']

In [8]:
param_global = pd.read_csv("input_csv/30318/global.csv", sep=";", decimal=",", parse_dates=date_columns)

In [9]:
param_global

  DT_ORIGEM_BNH DT_INICIO_LEI_9876_1999 DT_INICIO_MEDIA_80PC_MAIORES_S
0    1998-09-23              1999-11-29                     1994-07-31

# COTACAO

In [10]:
date_columns = ['COTDATA']

In [11]:
cotacao = pd.read_csv("input_csv/30318/cotacao.csv", sep=";", decimal=",", parse_dates=date_columns)

In [12]:
cotacao.tail()

     IDCOTACAOMOEDA  MOECODIGO    COTDATA  COTVALOR
458          525027          7 2017-01-06    0.9970
459          525028          7 2017-01-07    1.0017
460          525029          7 2017-01-08    0.9997
461          525030          7 2017-01-09    0.9998
462          525031          7 2017-01-10    1.0037

# INDEXADOR MONETARIO

In [13]:
indexador_monetario = pd.read_csv("input_csv/30318/indexador_monetario.csv", sep=";", decimal=",")

In [14]:
indexador_monetario = indexador_monetario.sort_values('ID_REFERENCIA_IDX_MON', ascending=True)

In [15]:
indexador_monetario

,ID_AVAL_PLANO_IDX_MON,ID_REFERENCIA_IDX_MON,ID_AVALIACAO,CD_INDEXADOR,DT_INICIAL,DT_FINAL,PC_REAJUSTE,DS_REFERENCIA_IDX_MON
2,1283,1,30318,7,01/09/2001,30/06/2017,3.078387,Beneficio Minimo
4,1285,2,30318,7,01/01/2017,30/06/2017,1.011235,INSS Beneficios
0,1281,3,30318,7,01/01/2017,30/06/2017,1.011235,Teto INSS Contribuic?o
5,1286,4,30318,7,01/01/2017,30/06/2017,1.000000,Teto INSS Beneficio
3,1284,5,30318,7,01/01/2017,30/06/2017,1.011235,Salario Minimo
1,1282,6,30318,7,01/01/2003,30/06/2017,1.000000,Peculio por Morte

# REAJUSTE SALARIAL

In [16]:
reajuste_salario = pd.read_csv("input_csv/30318/reajuste_salarial.csv", sep=";", decimal=",")

In [17]:
reajuste_salario

,ID_AVAL_PLANO_REAJ_SAL,ID_AVALIACAO,CD_TIPO_REAJUSTE_SALARIAL,ID_PATROCINADORA,CD_INDEXADOR,DT_INICIAL,DT_FINAL,PC_REAJUSTE,DS_TIPO_REAJUSTE_SALARIAL
0,823,30318,1,1,7,NaN,NaN,1.000000,Fator de Atualizac?o do Salario de Participac?o
1,824,30318,2,1,7,NaN,NaN,1.000000,Fator de Atualizac?o do Beneficio
2,825,30318,1,91008,7,01/09/2016,30/06/2017,1.015894,Fator de Atualizac?o do Salario de Participac?o
3,826,30318,2,91008,7,01/01/2017,30/06/2017,1.011235,Fator de Atualizac?o do Beneficio

# TAXA JUROS

In [18]:
taxa_juros = pd.read_csv("input_csv/30318/taxa_juros.csv", sep=";", decimal=",")

In [19]:
taxa_juros

   t  vl_taxa_juros
0  0         0.0551

# TAXA RISCO

In [20]:
taxa_risco = pd.read_csv("input_csv/30318/taxa_risco.csv", sep=";", decimal=",")

In [21]:
taxa_risco

   t  ID_RESPONSABILIDADE  vl_taxa_risco
0  0                    1              0
1  0                    2              0

# TABUA SERVICO E PENSAO

In [22]:
tabua_serv_normal = pd.read_csv("input_csv/30318/tabua_servico_normal.csv", sep=";", decimal=",", thousands=".")

In [23]:
tabua_serv_normal.dtypes

t           int64
Sexo        int64
Idade       int64
ix        float64
qxi       float64
qx        float64
wx        float64
ex        float64
apx       float64
lx        float64
dx        float64
lxs       float64
lxii      float64
dxii      float64
Dx*       float64
Dxcb      float64
Nxcb      float64
Dxii*     float64
Dxiicb    float64
Nxiicb    float64
Dxs       float64
Nxs       float64
Mx        float64
Mxii      float64
apxa      float64
Mxcb      float64
Mxcbii    float64
dtype: object

In [24]:
tabua_serv_normal.head()

,t,Sexo,Idade,ix,qxi,qx,wx,ex,apx,lx,...,Dxii*,Dxiicb,Nxiicb,Dxs,Nxs,Mx,Mxii,apxa,Mxcb,Mxcbii
0,0,1,0,0.0,0.00708,0.000000,0.0,75.5,0.0,1.000000e+07,...,1.000000e+07,1.000000e+07,1.812159e+08,1.000000e+07,1.683990e+08,153549.547,536443.630,0.0,153549.547,536443.630
1,0,1,1,0.0,0.00176,0.000457,0.0,75.5,0.0,1.000000e+07,...,9.410672e+06,9.410672e+06,1.712159e+08,9.477775e+06,1.583990e+08,153549.547,469340.986,0.0,153549.547,469340.986
2,0,1,2,0.0,0.00152,0.000298,0.0,74.6,0.0,9.995432e+06,...,8.903525e+06,8.903525e+06,1.618053e+08,8.978718e+06,1.489212e+08,149446.194,453643.154,0.0,149446.194,453643.154
3,0,1,3,0.0,0.00146,0.000222,0.0,73.7,0.0,9.992457e+06,...,8.425734e+06,8.425734e+06,1.529017e+08,8.507294e+06,1.399425e+08,146913.670,440816.542,0.0,146913.670,440816.542
4,0,1,4,0.0,0.00140,0.000166,0.0,72.7,0.0,9.990235e+06,...,7.974061e+06,7.974061e+06,1.444760e+08,8.061228e+06,1.314352e+08,145120.454,429157.390,0.0,145120.454,429157.390

In [25]:
tabua_serv_ajustada = pd.read_csv("input_csv/30318/tabua_servico_ajustada.csv", sep=";", decimal=",", thousands=".")

In [26]:
tabua_serv_ajustada.dtypes

t           int64
Sexo        int64
Idade       int64
ix        float64
qxi       float64
qx        float64
wx        float64
ex        float64
lx        float64
dx        float64
lxs       float64
lxii      float64
dxii      float64
Dx*       float64
Dxcb      float64
Nxcb      float64
Dxii*     float64
Dxiicb    float64
Nxiicb    float64
Dxs       float64
Nxs       float64
Mx        float64
Mxii      float64
Mxcb      float64
Mxcbii    float64
dtype: object

In [27]:
tabua_serv_ajustada.head()

,t,Sexo,Idade,ix,qxi,qx,wx,ex,lx,dx,...,Nxcb,Dxii*,Dxiicb,Nxiicb,Dxs,Nxs,Mx,Mxii,Mxcb,Mxcbii
0,0,1,0,0.0,0.00708,0.000000,0.0,75.5,1.000000e+07,0.000,...,1.885224e+08,1.000000e+07,1.000000e+07,1.812159e+08,1.000000e+07,1.683660e+08,154880.383,536443.630,154880.383,536443.630
1,0,1,1,0.0,0.00176,0.000457,0.0,75.5,1.000000e+07,4568.000,...,1.785224e+08,9.410672e+06,9.410672e+06,1.712159e+08,9.477775e+06,1.583660e+08,154880.383,469340.986,154880.383,469340.986
2,0,1,2,0.0,0.00152,0.000298,0.0,74.6,9.995432e+06,2974.641,...,1.690447e+08,8.903525e+06,8.903525e+06,1.618053e+08,8.978718e+06,1.488882e+08,150777.030,453643.154,150777.030,453643.154
3,0,1,3,0.0,0.00146,0.000222,0.0,73.7,9.992457e+06,2222.323,...,1.600659e+08,8.425734e+06,8.425734e+06,1.529017e+08,8.507294e+06,1.399095e+08,148244.506,440816.542,148244.506,440816.542
4,0,1,4,0.0,0.00140,0.000166,0.0,72.7,9.990235e+06,1662.375,...,1.515586e+08,7.974061e+06,7.974061e+06,1.444760e+08,8.061228e+06,1.314022e+08,146451.290,429157.390,146451.290,429157.390

In [28]:
tabua_pens_djxx = pd.read_csv("input_csv/30318/tabua_pensao_djxx.csv", sep=";", decimal=",", thousands=".")

In [29]:
tabua_pens_djxx.dtypes

t            int64
tipo         int64
sexo         int64
idade_x      int64
idade_j      int64
djxx       float64
dtype: object

In [30]:
tabua_pens_djxx.head()

   t  tipo  sexo  idade_x  idade_j          djxx
0  0     1     1        0        0  1.000000e+14
1  0     1     1        0        1  9.477775e+13
2  0     1     1        0        2  8.978244e+13
3  0     1     1        0        3  8.506450e+13
4  0     1     1        0        4  8.059919e+13

In [31]:
tabua_pens_njxx = pd.read_csv("input_csv/30318/tabua_pensao_njxx.csv", sep=";", decimal=",", thousands=".")

In [32]:
tabua_pens_njxx.dtypes

t            int64
tipo         int64
sexo         int64
idade_x      int64
idade_j      int64
njxx       float64
dtype: object

In [33]:
tabua_pens_njxx.head()

   t  tipo  sexo  idade_x  idade_j          njxx
0  0     1     1        0        0  1.866478e+15
1  0     1     1        0        1  1.767521e+15
2  0     1     1        0        2  1.673706e+15
3  0     1     1        0        3  1.584811e+15
4  0     1     1        0        4  1.500563e+15

# ATIVO

In [34]:
date_columns = ['DtNascPartic', 'DtAdmPatroci', 'DtAssEntPrev', 'DtAdesaoPlan', 'DtIniBenInss', 'DtIniBenPrev', 'DtNascConjug', 'DtNascFilJov', 'DtNascFilInv', 'DtIniApoInss', 'DtIniContInss', 'DtApoEntPrev']

In [35]:
ativo = pd.read_csv("input_csv/30318/ativo.csv", sep=";", decimal=",", parse_dates=date_columns, thousands=".")

In [36]:
ativo.dtypes

ID_PARTICIPANTE                  int64
CdSitCadPart                     int64
NoNomePartic                    object
NuMatrPartic                     int64
DtNascPartic            datetime64[ns]
CdSexoPartic                     int64
CdPatrocPlan                     int64
CD_SITUACAO_PATROC               int64
CdEstCivPart                     int64
EstCivPart                      object
CdExDirPatro                     int64
DT_OPCAO_BPD                   float64
DtAdmPatroci            datetime64[ns]
DtAssEntPrev            datetime64[ns]
PeFatReduPbe                   float64
CdElegApoEsp                     int64
CdParEntPrev                     int64
FL_DEFICIENTE                    int64
NuMatrOrigem                   float64
FlgPensionista                   int64
FL_MIGRADO                       int64
IDPLANOPREV                      int64
DtAdesaoPlan            datetime64[ns]
VlSdoConPart                   float64
VlSdoConPatr                   float64
VL_RESERVA_BPD                 float64
VL_SALDO_PORTADO               float64
VlBenSaldado                   float64
VlSalEntPrev                   float64
CD_SITUACAO_FUNDACAO             int64
                             ...
CdSexoFilInv                   float64
DtNascFilInv            datetime64[ns]
CdAutoPatroc                     int64
flg_manutencao_saldo             int64
IddPartiCalc                     int64
IddPartiFrac                   float64
IddAdmPatroc                     int64
IddAdmFracao                   float64
IddAssEntPre                     int64
TmpAdmIns                      float64
DtIniApoInss            datetime64[ns]
IddIniciInss                     int64
IddIniApoInss                    int64
DtIniContInss           datetime64[ns]
PrbCasado                      float64
TmpInssCalcu                     int64
TmpInssResto                     int64
TmpInssTotal                     int64
TmpContribInss                   int64
DtApoEntPrev            datetime64[ns]
IddApoEntPre                     int64
TmpPlanoPrev                   float64
TmpPlanoRest                     int64
IddConjuCalc                     int64
IddCjgApoEnt                     int64
IddFilJovCalc                  float64
IddFilJovApoEnt                float64
IddFilInvCalc                  float64
IddFilInvApoEnt                float64
id_bloco                         int64
Length: 71, dtype: object

In [37]:
ativo.head()

,ID_PARTICIPANTE,CdSitCadPart,NoNomePartic,NuMatrPartic,DtNascPartic,CdSexoPartic,CdPatrocPlan,CD_SITUACAO_PATROC,CdEstCivPart,EstCivPart,...,IddApoEntPre,TmpPlanoPrev,TmpPlanoRest,IddConjuCalc,IddCjgApoEnt,IddFilJovCalc,IddFilJovApoEnt,IddFilInvCalc,IddFilInvApoEnt,id_bloco
0,13410587,11753,SAYONARA MEIRELLES,30,1961-04-02,1,91008,8,1,CASADO(A),...,56,34.383562,0,58,58,NaN,NaN,NaN,NaN,1
1,13410588,11753,KLAUSS NAGHETINI BORBA,129,1959-12-17,2,91008,8,1,CASADO(A),...,58,34.367123,0,53,53,NaN,NaN,NaN,NaN,1
2,13410589,11753,JOSE HENRIQUE MOTTA DE CASTRO,135,1958-02-09,2,91008,8,1,CASADO(A),...,59,34.367123,0,54,54,NaN,NaN,NaN,NaN,1
3,13410590,11753,JOAO CARLOS FERRO,170,1959-04-11,2,91008,8,2,DIVORCIADO(A),...,58,34.367123,0,53,53,NaN,NaN,NaN,NaN,1
4,13410591,11753,MARIA AMELIA DE AQUINO NASCIMENTO,218,1960-05-31,1,91008,34,1,CASADO(A),...,57,33.605479,0,59,59,NaN,NaN,NaN,NaN,1

In [38]:
ativo.shape

(82953, 71)

# CALCULAR BENEFICIO INSS

In [39]:
def calcular_idade_beneficio_v1(idade_participante, idade_conjuge):
    for t in range(0, (max_idade + 1) - idade_participante, 1):
        print(t)
        print(min(idade_participante + t, max_idade))
        print(min(idade_conjuge + t, max_idade))

In [40]:
def calcular_idade_beneficio_v2(idade_participante, idade_conjuge):
    t = 0
    while(t <= max_idade - idade_participante):
        print(t)
        print(min(idade_participante + t, max_idade))
        print(min(idade_conjuge + t, max_idade))
        t += 1

In [115]:
def calcular_idade_beneficio_v3(row):
    t = 0
    idades = []
    while(t <= max_idade - row['IddPartiCalc']):
        idade_partic_t1 = min(row['IddPartiCalc'] + t, max_idade)
        idade_conjug_t1 = min(row['IddConjuCalc'] + t, max_idade)
        idade_dic = {'id_participante': row['ID_PARTICIPANTE'], 't': t, 'idade_partic_t1': idade_partic_t1, 'idade_conjug_t1': idade_conjug_t1}
#         x = [id_partic, t, idade_partic_t1, idade_conjug_t1]
        idades.append(idade_dic)
        t +=1
#     return pd.DataFrame(x)
#     print(pd.DataFrame(x))
#     print(pd.DataFrame(idades))
#     print(out);
    return idades;
#     return(pd.DataFrame(idades))

In [ ]:
for index, row in ativo.iloc[:5].iterrows():
    calcular_idade_beneficio(row['IddPartiCalc'], row['IddConjuCalc'])
#     print(index, row['ID_PARTICIPANTE'], row['IddPartiCalc'])

In [ ]:
for index, row in ativo.iloc[:5].iterrows():
    calcular_idade_beneficio_2(row['IddPartiCalc'], row['IddConjuCalc'])

In [ ]:
x = pd.DataFrame()
x.append(ativo.iloc[:5].apply(calcular_idade_beneficio_v3, axis=1), ignore_index=True)

In [122]:
x = ativo.iloc[:5].apply(calcular_idade_beneficio_v3, axis=1)

ValueError: Shape of passed values is (1, 70), indices imply (1, 71)

In [121]:
x

Empty DataFrame
Columns: [ID_PARTICIPANTE, CdSitCadPart, NoNomePartic, NuMatrPartic, DtNascPartic, CdSexoPartic, CdPatrocPlan, CD_SITUACAO_PATROC, CdEstCivPart, EstCivPart, CdExDirPatro, DT_OPCAO_BPD, DtAdmPatroci, DtAssEntPrev, PeFatReduPbe, CdElegApoEsp, CdParEntPrev, FL_DEFICIENTE, NuMatrOrigem, FlgPensionista, FL_MIGRADO, IDPLANOPREV, DtAdesaoPlan, VlSdoConPart, VlSdoConPatr, VL_RESERVA_BPD, VL_SALDO_PORTADO, VlBenSaldado, VlSalEntPrev, CD_SITUACAO_FUNDACAO, PeContrParti, PeContrPatro, DtIniBenInss, VlBenefiInss, VlBenefiPrev, CdTipoBenefi, DtIniBenPrev, CdSexoConjug, DtNascConjug, CdSexoFilJov, DtNascFilJov, CdSexoFilInv, DtNascFilInv, CdAutoPatroc, flg_manutencao_saldo, IddPartiCalc, IddPartiFrac, IddAdmPatroc, IddAdmFracao, IddAssEntPre, TmpAdmIns, DtIniApoInss, IddIniciInss, IddIniApoInss, DtIniContInss, PrbCasado, TmpInssCalcu, TmpInssResto, TmpInssTotal, TmpContribInss, DtApoEntPrev, IddApoEntPre, TmpPlanoPrev, TmpPlanoRest, IddConjuCalc, IddCjgApoEnt, IddFilJovCalc, IddFilJovApoEnt, IddFilInvCalc, IddFilInvApoEnt, id_bloco]
Index: []

[0 rows x 71 columns]

In [ ]:
[print(idade+t) for idade in ativo['IddPartiCalc']]